.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.version {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  margin: 0 0 40px 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.cell {
  width: 2em;
  height: 2em;
  margin: 0.2em;
  border-radius: 10%;
  background: aliceblue;
  font-size: 2em;
  text-align: center;
}

.cell.exact {
  background: lawngreen;
}

.cell.exist {
   background: yellow;
 }

.solutions {
  max-width: 100%;
}